@inject SignInManager<User> _signInManager
@inject UserManager<User> _userManager


@*MVC Layout view*@

@if (_signInManager.IsSignedIn(User))
{
    //Signed user
    <ul class="navbar-nav ml-auto">
        @if (_signInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <button class="nav-link btn py-0 btn-link text-dark mt-2">
                    Hello, @User.Identity.Name!
                    <i class="fas fa-user"></i>
                </button>

            </li>
            <li class="nav-item nav-link">
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <button class="nav-link btn py-0 btn-link text-dark" type="submit">
                        <i class="fas fa-sign-out-alt fa-1x"></i>Logout
                    </button>
                </form>
            </li>
        }
    </ul>
}
else
{
    //Anonyous user
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">
                <i class="far fa-registered"></i>Register
            </a>

        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">
                <i class="fas fa-sign-in-alt fa-1x"></i>Log in
            </a>

        </li>
    </ul>
}